<div class="profile-page">
    <h1 class="text-center mb-3"><strong>Widgets</strong></h1>
    <a class="weatherwidget-io" href="https://forecast7.com/en/19d43n99d13/mexico-city/" data-label_1="MEXICO CITY" data-label_2="WEATHER" data-icons="Climacons" data-mode="Current" data-days="3" data-theme="beige" >MEXICO CITY WEATHER</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>

  <div class="book-otm text-center">
    <h3><strong>Book of the month</strong></h3>
      <div class="image-book">
        <%= cl_image_tag(bookcover_aqxf8x), width: 100, crop: "thumb" %>
      </div>
      <div class="book-text flex-end">
        <p> <a href="https://www.goodreads.com/book/show/18144590-the-alchemist" target="_blank" class="book-link"> "The Alchemist" by Paulo Coelho</a></p>
      </div>
  </div>

    <div class="quote-otd">
      <h3><strong>Quote of the day</strong></h3>
      <q>My mother always used to say: The older you get, the better you get, unless you’re a banana.</q>
      <p class="ms-4">-Betty White</p>
      <%# <h1>Quotes generator</h1>
        <q> <%= @quote_of_day["contents"]["quotes"][0]["quote"]  </q>
        <%# <p class="ms-4"> <%= @quote_of_day["contents"]["quotes"][0]["author"] </p> %>
    </div>

    <div class="news">
      <h3><strong>Good News of the day</strong></h3>
      <q><%= @news_title %> </q>
      <a href="<%=@news%>" target="_blank" class="news-title">See Here</a>
    </div>

  <%# <div class="weather"> %>
    <%# <h1>Current weather in <%= @user_location.city %>
    <%# <p>
      The temperature is <%= @weather_data["main"]["temp"] %>
      <%# The conditions are <%= @weather_data["weather"][0]["description"] %>
    <%# </p> %>
  <%# </div> %>
</div>


<div class="links d-flex flex-row justify-content-around">
  <%= link_to "Dashboard", dashboard_path, class: "btn btn-gradient" %>
  <%= link_to "My progress", puzzles_path, class: "btn btn-gradient"  %>
</div>
