<div class="container-dashboard col-12">
      <% date = Date.today %>
      <%= date.strftime('%a, %d %b %Y')%>
    <div class="welcome d-flex justify-content-between align-items-center m-2">
      <h3 class="text-left">Hello, <%= current_user.first_name.capitalize%> !</h3>
      <div class="photo-profile-dashboard flex-end">
      <% if current_user.photo.key.nil? %>
        <%= cl_image_tag "defaultprofile_ld01ce", class: "avatar", crop: :fill %>
      <% else %>
        <%= cl_image_tag current_user.photo.key, height: 50, width: 50, crop: :fill %>
      <% end %>
      </div>
    </div>

  <div class="puzzle mt-4 btn btn-progress">
    <div class="circle">
    <%= @puzzles.last.completed_goals_percentage %>%
    </div>
        <%= link_to "My progress", puzzles_path, class: "your-progress"%>

  </div>

  <div class="habits-container">
    <h2 class="text-left ms-4 mt-3 pt-2 pb-2">Today's Habits</h2>
    <div class="habits-info" data-controller="habit-update">
      <% today = @puzzles.last.goals %>
        <% today.each do |g| %>
          <% g.habits.each do |h| %>
            <%= render "habits/habits_checkbox", h: h %>
          <% end %>
        <% end %>
    </div>
  </div>



  <div class="goals-container">
    <h2 class="text-left ms-4 mt-3 pt-2 pb-2">Your Goals</h2>
    <div class="habits-info">
        <% @puzzles.last.goals.each do |goal| %>
          <%# <% p.goals.each do |goal| %>
          <div class="goals">
            <div class="goals-card">
                <h5><%=link_to goal.name, goal_path(goal), class: "goal-link" %></h5>
                <div class="goal-icons">
                  <%= link_to icon("fa-solid", "trash"), goal_path(goal), class: "text-muted", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } if policy(goal).destroy?%>
                  <%= render partial: "shared/editpopup", locals: { goal: goal }%>
                </div>
            </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped  gradient-bg" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= goal.completed_habits_percentage%>%"><%= goal.completed_habits_percentage.round%>%</div>
              </div>
          </div>
          <%# <% end %>
        <% end %>
    </div>
  </div>

<%= link_to "add a puzzle", new_puzzle_path, class: "btn btn-gradient" %>
