 <div class="goals-container">
    <h2 class="text-left ms-4 mt-3 pt-2 pb-2">Your Goals</h2>
    <div class="habits-info">
        <% @puzzle.goals.each do |goal| %>
          <%# <% p.goals.each do |goal| %>
          <div class="goals">
            <div class="goals-card">
                <h5><%=link_to goal.name, goal_path(goal), class: "goal-link" %></h5>
                <div class="goal-icons">
                  <%= link_to icon("fa-solid", "trash"), goal_path(goal), class: "text-muted", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } if policy(goal).destroy?%>
                  <%= render partial: "shared/editpopup", locals: { goal: goal }%>
                </div>
            </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped  gradient-bg" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= goal.completed_habits_percentage%>%"><%= goal.completed_habits_percentage.round%>%</div>
              </div>
          </div>
          <%# <% end %>
        <% end %>
    </div>
  </div>


<%= link_to "add a puzzle", new_puzzle_path, class: "btn btn-primary" %>
