<div class="container">
  <div class="popup">
    <h2>New Habit</h2>
      <%= simple_form_for([@goal, @habit]) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :frequency, collection: %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday], input_html: {class: "search-bar"} %>
      <%= f.input :goal_id, as: :hidden, input_html: { value: @goal.id } %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

    <%= link_to "Back", goal_path(@goal) %>
  </div>
</div>
