<% if @puzzle.completed_goals.size == 0 %>
  <%= "empty puzzle" %>
<% elsif @puzzle.completed_goals.size == 1 %>
  <%= "puzzle with 1 piece" %>
<% elsif @puzzle.completed_goals.size == 2 %>
  <%= "puzzle with 2 pieces" %>
<% elsif @puzzle.completed_goals.size == 3 %>
  <%= "puzzle with 3 pieces" %>
<% elsif @puzzle.completed_goals.size == 4 %>
  <%= "puzzle with 4 pieces" %>
<% else %>
  <%= "puzzle completed" %>
<% end %>

<div class="jigsaw">
  <div id="piece1" class="piece"></div>
  <div id="piece2" class="piece"></div>
  <div id="piece3" class="piece"></div>
  <div id="piece4" class="piece"></div>
  <div id="piece5" class="piece"></div>
</div>
