<div class="container-puzzle-show">
  <div class="puzzle-show-img">
    <% if @puzzle.goals.size == 1 %>
      <%= render "puzzle1" %>
    <% elsif @puzzle.goals.size == 2 %>
      <%= render "puzzle2" %>
    <% elsif @puzzle.goals.size == 3 %>
      <%= render "puzzle3" %>
    <% elsif @puzzle.goals.size == 4 %>
      <%= render "puzzle4" %>
    <% elsif @puzzle.goals.size == 5 %>
      <%= render "puzzle5" %>
    <% else %>
      <%= "No goals today" %>
    <% end %>
  </div>

  <div class="puzzle-show-goals">
  <% @puzzle.goals.each do |g| %>
    <%= g.name %>
    <% g.habits.each do |h| %>
      <%= render "habits/habits_checkbox", h: h %>
    <% end %>
  <% end %>
  </div>
</div>
